.quiz-finish-container {
    text-align: center;
    max-width: 90vw;
    margin: 0 auto;
  }
  
  .quiz-finish-title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .quiz-finish-list {
    padding: 0;
    text-align: left;
  }
  
  .quiz-finish-item {
    margin-bottom: 20px;
  }
  
  .quiz-finish-question {
    font-size: 1.2em;
  }
  
  .quiz-finish-correct {
    color: green;
    font-weight: bold;
  }
  
  .quiz-finish-wrong {
    color: red;
    font-weight: bold;
  }
  
  .quiz-finish-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid #6B73FF;
    border-radius: 30px;
    background-color: #6B73FF;
    color: white;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer
  }
  
  .quiz-finish-button:hover {
    background: #fff;
    color: #6B73FF;
    transform: scale(1.1);
  }
  