
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.landing-wrapper {
  text-align: center;
  background: linear-gradient(135deg, #6B73FF 10%, #000DFF 100%);
  color: white;
  padding: 5vw 2vw;
  border-radius: 1vw;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
  animation: fadeIn 1.5s ease-in-out;
  max-width: 90vw;
}

.landing-title-wrapper {
  margin-bottom: 3vw;
  animation: slideIn 1s ease-out;
}

.landing-title {
  font-size: 3em;
  margin-bottom: 0.5em;
  animation: textGlow 2s ease-in-out infinite;
}

.landing-description {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.main-nav {
  margin-top: 3vw;
}

.main-nav-wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.main-nav-link {
  font-size: 1.2em;
  padding: 1vw 2vw;
  border: 0.2vw solid white;
  border-radius: 3vw;
  transition: background 0.3s, transform 0.3s;
}

.main-nav-link:hover {
  background: white;
  color: #6B73FF;
  transform: scale(1.1);
}

/* Animations */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  0% { transform: translateY(-2vw); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes textGlow {
  0%, 100% { text-shadow: 0 0 2vw rgba(255, 255, 255, 0.5); }
  50% { text-shadow: 0 0 2vw rgba(255, 255, 255, 1); }
}
