.quiz-wrapper {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  height: 80vh;
  overflow: scroll;
}

.quiz-card {
  background-color: #fff;
  padding: 2%;
  border-radius: 1rem;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 90%;
  max-width: 20rem;
}

.quiz-card:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

.quiz-name {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.quiz-description {
  font-size: 1em;
  margin-bottom: 1em;
}

.quiz-button {
  display: block;
  max-width: 60%;
  padding: 1em 2em;
  border: 0.25em solid #6B73FF;
  border-radius: 1.875em;
  background-color: #6B73FF;
  color: white;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s;
}

.quiz-button:hover {
  background: #fff;
  color: #6B73FF;
  transform: scale(1.1);
}
