.quiz-detail-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .quiz-name {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  .quiz-description {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .quiz-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  
  .quiz-question {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .quiz-button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid #6B73FF;
    border-radius: 30px;
    background-color: #6B73FF;
    color: white;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
  }
  
  .quiz-button:hover {
    background: #fff;
    color: #6B73FF;
    transform: scale(1.1);
  }
  