html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #f0f8ff;
}

.main-container {
  height: 80vh;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

fieldset {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 2px #6B73FF;
  padding: 15px;
  margin: 10px 0;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: #f8f8ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5em;
  color: #6B73FF;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #e6e6fa;
}

.question-wrapper, .answer-wrapper {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f8ff;
}

fieldset legend {
  margin-top: 10px;
  color: #6B73FF;
}

.question-wrapper input[type="radio"] {
  margin-right: 5px;
}

button {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 2px solid #6B73FF;
  border-radius: 30px;
  background-color: #6B73FF;
  color: white;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  background: #fff;
  color: #6B73FF;
  transform: scale(1.1);
}

.add-btn {
  background-color: #6B73FF;
  border-color: #6B73FF;
}

.add-btn:hover {
  color: #6B73FF;
}

.save-btn {
  background-color: #32cd32;
  border-color: #32cd32;
}

.save-btn:hover {
  color: #32cd32;
}

form {
  width: 100%;
}

.toast {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards, fadeOut 0.5s ease forwards 2s;
}

.toast.success {
  background-color: green
}

.toast.success::before {
  content: "\2713";
  font-size: 20px;
  margin-right: 5px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}