/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navigation Bar Styles */
.nav {
  background: linear-gradient(135deg, #6b73ff 10%, #000dff 100%);
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 90vw;
  width: 100%;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  animation: fadeIn 1.5s ease-in-out;
}

.nav-bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 1.8em;
  font-weight: bold;
  color: white;
  animation: textGlow 2s ease-in-out infinite;
}

.nav-link {
  font-size: 1.2em;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 30px;
  transition: background 0.3s, transform 0.3s;
  color: white;
  cursor: pointer;
}

.nav-link:hover {
  background: white;
  color: #6b73ff;
  transform: scale(1.1);
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textGlow {
  0%,
  100% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}

@media (max-width: 480px) {
  .nav-bar {
    justify-content: center;
  }

  .nav-link {
    display: none;
  }

  .nav-title {
    text-align: center;
  }
}

.brand-logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 1.5em;
  height: auto;
  margin-right: 0.5em;
}
