.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }
  
  .overlay--after-open {
    opacity: 1;
  }
  
  .overlay--before-close {
    opacity: 0;
  }
  
  .modal {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 40vw;
    width: 90%;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.3);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(1);
    opacity: 1;
  }
  
  .modal--after-open {
    transform: scale(1);
    opacity: 1;
  }
  
  .modal--before-close {
    transform: scale(0.9);
    opacity: 0;
  }
  
  .modal h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .modal p {
    font-size: 1rem;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .modal button {
    margin: 0.625rem 0.3125rem 0 0;
    padding: 0.625rem 1.25rem;
    border: 2px solid #6B73FF;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
    width: 7.5rem;
  }
  
  .confirm-button {
    background-color: #ccc;
    color: white;
  }
  
  .confirm-button:hover {
    background: #fff;
    color: #6B73FF;
    transform: scale(1.1);
  }
  
  .cancel-button {
    background-color: #6B73FF;
    color: white;
  }
  
  .cancel-button:hover {
    background: #fff;
    color: #6B73FF;
    transform: scale(1.1);
  }
  
  .highlighted {
    background-color: #6B73FF;
    color: white;
  }
  