.quiz-question-container {
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
}

.quiz-question {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.quiz-answer-list {
  list-style: none;
  padding: 0;
}

.quiz-answer-item {
  margin-bottom: 0.625rem;
}

.quiz-answer-label {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.quiz-answer-label input[type="radio"] {
  margin-right: 0.5rem;
}

.quiz-submit-button {
  cursor: pointer;
  display: block;
  margin: 1.25rem auto;
  padding: 0.625rem 1.25rem;
  border: 0.125rem solid #6B73FF;
  border-radius: 1.875rem;
  background-color: #6B73FF;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s;
  width: 15rem;
}

.quiz-submit-button:hover {
  background: #fff;
  color: #6B73FF;
  transform: scale(1.1);
}

.quiz-submit-button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.quiz-result {
  font-size: 1.2rem;
  margin-top: 0.625rem;
  font-weight: bold;
}

.quiz-next-button {
  display: block;
  margin: 1.25rem auto;
  padding: 0.625rem 1.25rem;
  border: 0.125rem solid #6B73FF;
  border-radius: 1.875rem;
  background-color: #6B73FF;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s;
  cursor: pointer;
}

.quiz-next-button:hover {
  background: #fff;
  color: #6B73FF;
  transform: scale(1.1);
}
